@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.Fb.cshtml";
    //http://localhost.cuddlytanuki.fb/
}
<div class="container">
    <h1>Cuddly Tanuki!</h1>
    <div class="fbgreybox" style="width: 500px;">
        Recognize this general <a href="#">purpose</a> grey box?
        <br /><br />
        <div class="container">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <label for="opt1">
                            <img src="~/Content/images/a.jpg" style="width: 100%; height: 100%; cursor: pointer" />
                        </label>                        
                    </div>
                    <div class="col-md-6">
                        <label for="opt2">
                            <img src="~/Content/images/b.jpg" style="width: 100%; height: 100%; cursor: pointer" />
                        </label>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="radio-inline"><input type="radio" id="opt1" name="optradio" />Option 1</label>
                    </div>
                    <div class="col-md-6">
                        <label class="radio-inline"><input type="radio" id="opt2" name="optradio" />Option 2</label>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
    <div class="fbcontentdivider"></div>
</div>